<%= form_for(semester) do |f| %>
  <div class="row">
    <div class='large-4 columns'>
      <%= f.label :year, 'Ano:' %>
      <%= f.number_field :year %> 
    </div>
  </div>
  <div class="row">
    <div class='large-4 columns'>
      <%= f.label :period, 'Período:' %>
      <%= f.select :period, ['1', '2'] %>       
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.submit 'Salvar', class: 'button export-button float-right' %> 
      <%= link_to "Voltar", semesters_path, :class=>"button export-button float-left" %>
    </div>  
  </div>
<% end %>