<div class="wrapper">
  <%= render 'shared/header' %>
  <div class="row area-grid text-center">
    <div class="row">
        <div class="small-12 columns text-center info-text">
            Semestre
        </div>
    </div>
    
    <table id="largeTable" class="schedule-table large-table unstriped">
      <thead>
        <tr>
          <th width="150">Ano</th>
          <th width="150">Período</th>
          <th width="80"></th>
        </tr>
      </thead>
      <tbody>
          <% @semesters.each do |semester| %>
            <tr>
              <td><%= semester.year %></td>
              <td><%= semester.period %></td>
              <td><%= link_to 'Editar', edit_semester_path(semester) %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render 'shared/footer' %>
<% content_for :script do %>
<script>
  mixpanel.track("Acessou pagina para cadastro de semestre");
</script>
<% end %>


