<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @professor_user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @professor_user.username %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @professor_user.department.name %>
</p>

<%= link_to 'Editar', edit_professor_user_path(@professor_user) %> 
<%= link_to 'Voltar', professor_users_path %>
