<%= form_for(student) do |f| %>
   <% if student.errors.any? %>
    <% student.errors.values.each do |msg| %>
      <% msg.each do |ex| %>
        <% flash.now[:danger] = ex %>
      <% end %>
    <% end %>
  <% end %>


  <div class="row">
    <div class='large-8 columns'>
      <%= f.label :name, 'Nome Completo' %>
      <%= f.text_field :name %>
    </div>  
  </div>
  
  <div class="row">
    <div class='large-8 columns'>
      <%= f.label :email, 'E-mail' %>
      <%= f.text_field :email %>
    </div>
  </div>
  
  <div class="row"> 
    <div class='large-8 columns'>
      <%= f.label :course_id, 'Curso' %>
      <%= f.collection_select :course_id, Course.order(:name),:id,:name, include_blank: "Selecione" %>
    </div>
  </div>
  
  <div class="row">
    <div class='medium-2 columns'>
      <%= f.label :matricula, 'Matrícula' %>
      <%= f.text_field :matricula %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit 'Salvar', class: 'button export-button float-right' %> 
    </div>  
  </div>
  
<% end %>
