<div class="wrapper">
  <%= render 'shared/header' %>
  <div class="row area-grid text-center">
    <div class="row">
      <div class="small-12 columns text-center info-text">
          Professores
          <div class="subtext"> <%= @department %> </div>
      </div>
    </div>
    
    <div class="row">
       <table id="largeTable" class="schedule-table large-table">
        <thead>
          <tr>
            <th width="200">Nome</th>
            <th width="80">Cadastro</th>
            <th width="30"></th>
          </tr>
        </thead>
        <tbody>
          <% @professor_users.each do |professor| %>
            <tr>
              <td><%= professor.name %></td>
              <% if professor.user.present? %>
                <td>Realizado</td>
              <%else%>
                <td>Pendente</td>
              <% end %>
              <td><%= link_to 'Alunos', orientations_path(:professor_id => professor, :course_id =>  @user.coordinator.course) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="row">
      <span id="goToTop" class="go-to-top float-left">▲ Topo</span>
    </div>
  </div> 
</div>
<%= render 'shared/footer' %>

<% content_for :script do %>
<script>
     mixpanel.track("Acessou pagina orientação coordenador");

    $("#goToTop").click(function() {
          $('html,body').animate({
              scrollTop: $("#header").offset().top
          }, 500);
    });
</script>
<% end %>
