<div class="wrapper">
    <%= render 'shared/header' %>
    
    
    <div class="row">
      <div class="small-12 columns text-center info-text">
          Histórico
          <div class="subtext"><%='Matrícula: ' + @student.matricula + ' / ' + 'Nome: ' + @student.name %> </div>
      </div>
    </div>
    
    <div id="info_historic" class="row">
        <div class="callout secondary" data-closable>
            <div class="row">
                <div class="small-12 columns">
                    <div class="small-6 columns float-left">
                        <div class="subtext float-left">NOME: <%= @student.name.upcase %></div>
                    </div> 
                    <div class="small-6 columns float-right">
                        <div id="workload_ob" class="subtext float-right">CARGA HORÁRIA OBRIGATÓRIA: <%= @ch_ob %></div>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="small-12 columns">
                    <div class="small-6 columns float-left">
                        <div class="subtext float-left">MATRÍCULA: <%= @student.matricula %></div>
                    </div> 
                    <div class="small-6 columns float-right">
                        <div id="workload_op" class="subtext float-right">CARGA HORÁRIA OPTATIVA: <%= @ch_op %></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <div class="small-6 columns float-left">
                        <div class="subtext float-left">CURSO: <%= @course.name %></div>
                    </div>    
                    <div class="small-6 columns float-right">
                        <div id="workload" class="subtext float-right">CARGA HORÁRIA TOTAL: <%= @ch %></div>
                    </div>
                </div>
            </div>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </div>

    <div class="row">
        <ul id="blockTabs" class="tabs" data-tabs>
            <li id="historic" class="tabs-title is-active" aria-selected="true"><a href="#historic">Histórico</a></li>
        </ul>
    </div>
    
    <div class="row block tabs-content" data-tabs-content="blockTabs">
        <div id="historic" class="tabs-panel no-padding is-active">
                <div id="historic_show">
                    <div class="row">
                        <div class="small-12 columns">
                            <%= render partial: 'historic_table', locals: { table_id: 'large_table_historic', table_class: 'historic-table unstriped large-table'} %>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row">
              <div class="small-12 columns">
                <span id="goToTop" class="go-to-top float-left">▲ Topo</span>
              </div>
            </div>
        </div>
    
    </div>
</div>
<%= render 'shared/footer' %>

<% content_for :script do %>
<script>
    mixpanel.track("Acessou página histórico aluno/orientação", { "matricula_aluno": "<%= @student.name %>" });

    var historic_student = <%= raw @historic  %>;
    
    $("#goToTop").click(function() {
      $('html,body').animate({
          scrollTop: $("#header").offset().top
      }, 500);
    });
    
    function load_historic() {
        if(historic_student.length > 0){
            $("#large_table_historic tbody").empty();
            $("#large_table_historic tbody").append(get_result_table_history(historic_student));    
        }
    }
    
    $(document).ready(function() {
        load_historic();
    });
    
</script>
<% end %>