<p id="notice"><%= notice %></p>

Idenficação do Usuário 

</br>

<%= link_to 'Aluno', registration_student_record_path, method: :post %>

</br>

<%= link_to 'Professor', registration_professor_record_path, method: :post %>

</br>

<%= link_to 'Coordenador', registration_coordinator_record_path, method: :post %>

</br>

<%= link_to 'Voltar', root_path %>

