<%= form_for(coordinator) do |f| %>
  <% if coordinator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coordinator.errors.count, "error") %> prohibited this coordinator from being saved:</h2>

      <ul>
      <% coordinator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  
  <div class="field">
    <%= f.label :course_id, 'Curso' %>
    <%= f.collection_select :course_id, Course.order(:name),:id,:name, include_blank: "Selecione" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
