<%= form_for(coordinator) do |f| %>
  <div class="row">
    <div class='large-4 columns'>
      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class='large-4 columns'>
      <%= f.label :username %>
      <%= f.text_field :username %>       
    </div>
  </div>
  <div class="row">
    <div class='large-4 columns'>
      <%= f.label :course_id, 'Curso' %>
      <%= f.collection_select :course_id, Course.order(:name),:id,:name, include_blank: "Selecione" %>   
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.submit 'Salvar', class: 'button export-button float-right' %> 
      <%= link_to "Voltar", coordinators_path, :class=>"button export-button float-left" %>
    </div>  
  </div>
<% end %>