<div class="wrapper">
  <%= render 'shared/header' %>
  <div class="row area-grid text-center">
    <div class="row">
        <div class="small-12 columns text-center info-text">
            Coordenadores
        </div>
    </div>
    
    <table id="largeTable" class="schedule-table large-table">
      <thead> 
        <tr>
          <th width="100">Nome</th>
          <th width="60">Username</th>
          <th width="130">Curso</th>
          <th width="30"></th>
          <th width="30"></th>
        </tr>
      </thead>
      <tbody>
          <% @coordinators.each do |coordinator| %>
            <tr>
              <td><%= coordinator.name %></td>
              <td><%= coordinator.username %></td>
              <td><%= coordinator.course.name %></td>
              <td><%= link_to 'Editar', edit_coordinator_path(coordinator) %></td>
              <td><%= link_to 'Apagar', coordinator, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
    
    
    <div class="row">
      <span id="goToTop" class="go-to-top float-left">▲ Topo</span>
      <%= link_to "Novo Coordenador", new_coordinator_path, :class=>"button export-button float-right" %>
    </div>
  </div>
</div>

<div class="tiny reveal" id="exampleModal5" data-reveal>
    <p>OH I'M SO TIIINY</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<%= render 'shared/footer' %>

<% content_for :script do %>
<script>
    $("#goToTop").click(function() {
          $('html,body').animate({
              scrollTop: $("#header").offset().top
          }, 500);
    });
</script>
<% end %>


