<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @coordinator.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @coordinator.username %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @coordinator.course.name %>
</p>

<%= link_to 'Editar', edit_coordinator_path(@coordinator) %> |
<%= link_to 'Voltar', coordinators_path %>
