<%= form_for(discipline_code) do |f| %>
  <% if discipline_code.errors.any? %>
    <% discipline_code.errors.values.each do |msg| %>
      <% msg.each do |ex| %>
        <% flash.now[:danger] = ex %>
      <% end %>
    <% end %>
  <% end %>

  <div class="row">
    <div class='large-4 columns'>
      <%= f.label :from_code, 'Código(DE)' %>
      <%= f.text_field :from_code %>
    </div>
  </div>
  <div class="row">
    <div class='large-4 columns'>
      <%= f.label :to_code, 'Código(PARA)' %>
      <%= f.text_field :to_code %>       
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.submit 'Salvar', class: 'button export-button float-right' %> 
      <%= link_to "Voltar", discipline_codes_path, :class=>"button export-button float-left" %>
    </div>  
  </div>
<% end %>