<div class="wrapper">
  <%= render 'shared/header' %>
  <div class="row area-grid text-center">
    <div class="row">
        <div class="small-12 columns text-center info-text">
            Códigos Disciplinas
        </div>
    </div>
    
    <div class="row">
      <%= form_tag '', :method => :get do  %>
        <div class="columns medium-2 float-left">
          <label>Código(DE)
            <%= text_field_tag :discipline_code_from_code, @search[:from_code] %>
          </label>
        </div>
        <div class="columns medium-2 float-left">
          <label>Código(PARA)
             <%= text_field_tag :discipline_code_to_code, @search[:to_code] %>
          </label>
        </div>
        <div class="columns medium-2 float-left">
          <div class='medium-2 columns'>
            <%=submit_tag("Pesquisar", name: 'search', class: 'button')%>
          </div>
        </div>
      <% end %>
        <div class="columns large-2 float-right">
          <div class='medium-12 columns'>
            <%= link_to "Novo Código", new_discipline_code_path, :class=>"button export-button" %>
          </div>
        </div>
    </div>
    
    <table id="largeTable" class="schedule-table large-table unstriped">
      <thead> 
        <tr>
          <th width="100">Código(DE)</th>
          <th width="60">Código(PARA)</th>
          <th width="30"></th>
          <th width="30"></th>
        </tr>
      </thead>
      <tbody>
          <% @discipline_codes.each do |disc| %>
            <tr>
              <td><%= disc.from_code %></td>
              <td><%= disc.to_code %></td>
              <td><%= link_to 'Editar', edit_discipline_code_path(disc) %></td>
              <td><%= link_to 'Apagar', disc, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
    
    
    <div class="row">
      <span id="goToTop" class="go-to-top float-left">▲ Topo</span>
    </div>
  </div>
</div>


<%= render 'shared/footer' %>
<% content_for :script do %>
<script>
   mixpanel.track("Acessou pagina de cadastro código disciplina");

   $("#goToTop").click(function() {
        $('html,body').animate({
            scrollTop: $("#header").offset().top
        }, 500);
    });
</script>
<% end %>


