<div class="wrapper">
  <%= render 'shared/header' %>
  <div class="row area-grid text-center">
    <div class="row">
        <div class="small-12 columns text-center info-text">
            Usuários
        </div>
    </div>
    
    <%= form_tag '', :method => :get do  %>
    <div class="row">
        <div class="columns medium-4 float-left">
          <label>Usuário
            <%= text_field_tag :user_username, @search[:username] %>
          </label>
        </div>
        <div class="columns medium-2 float-left">
          <div class='medium-2 columns'>
            <%=submit_tag("Pesquisar", name: 'search', class: 'button')%>
          </div>
        </div>
    </div>
    <% end %>
    
    <table id="largeTable" class="schedule-table large-table unstriped">
      <thead>
        <tr>
          <th width="150">Usuário</th>
          <th width="80">Tipo</th>
          <th width="80"></th>
          <th width="80"></th>
          <th width="80"></th>
        </tr>
      </thead>
      <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.username %></td>
              <% if user.rule == "coordinator" %>
                <td>Coordenador</td>
              <% elsif user.rule == "professor" %>
                <td>Professor</td>
              <% elsif user.rule == "student" %>
                <% if user.student.present? %>
                  <td>Aluno</td>
                <% else %>
                  <td>Pendente</td>
                <% end %>
              <% end %>
              <% if user.locked_at? %>
                <td><%= link_to 'Desbloquear', unlock_user_path(user), method: :post%></td>
              <% else %>
                <td><%= link_to 'Bloquear', lock_user_path(user), method: :post %></td>
              <% end %>
              <% if user.enable? %>
                <td><%= link_to 'Resetar', reset_user_path(user), method: :post %></td>
              <% else %>
                <td></td>
              <% end %>
              <td><%= link_to 'Apagar', delete_user_path(user), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
    
    <div class="row">
      <span id="goToTop" class="go-to-top float-left">▲ Topo</span>
    </div>
    
  </div>
</div>
<%= render 'shared/footer' %>

<% content_for :script do %>
<script>
   mixpanel.track("Acessou pagina de controle de usuarios");
    $("#goToTop").click(function() {
          $('html,body').animate({
              scrollTop: $("#header").offset().top
          }, 500);
    });
</script>
<% end %>
