<% if user_signed_in? %>
    <% if current_user.enable? %>
        <% if current_user.rule == 'coordinator' %>
            <li><%= link_to('Professores', professor_users_path) %></li>
            <li><%= link_to('Alunos', students_path) %></li>
            <li><%= link_to('Orientação', orientation_coordinator_path) %></li>
            <li><%= link_to('Pré-Matricula', pre_enrollments_path) %></li>
        <% elsif current_user.rule == 'professor' %>
            <li><%= link_to('Orientação', orientations_path(current_user.professor_user.id)) %></li>
        <% else %>
            <li><%= link_to('Histórico', historic_path) %></li>
            <li><%= link_to('Planejamento', planning_path) %></li>
            <li><%= link_to('Pré-Matricula', record_enrollments_path) %></li>
        <% end %>
    <% end %>
<% end %>