<%= form_for(pre_enrollment) do |f| %>
  <% if pre_enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pre_enrollment.errors.count, "error") %> prohibited this pre_enrollment from being saved:</h2>

      <ul>
      <% pre_enrollment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :semester, 'Semestre' %>
    <%= f.text_field :semester %>
  </div>

  <div class="field">
    <%= f.label :date_start, 'Data Inicial' %>
    <%= f.datetime_select :date_start %>
  </div>

  <div class="field">
    <%= f.label :date_end, 'Data Final' %>
    <%= f.datetime_select :date_end %>
  </div>
  
  <h3>Obrigatórias</h3>
  
  <div class = "field">
    <% @disciplines_ob.each do |course_discipline| -%>
      <%= check_box_tag :course_discipline_id, course_discipline.id, @pre_enrollment.course_disciplines.include?(course_discipline), :name => 'pre_enrollment[course_discipline_ids][]' -%>
      <%= label_tag :course_discipline_ids, course_discipline.discipline.code + ' - ' + course_discipline.discipline.name -%>
      </br>
    <% end -%>
  </div>
  
   <h3>Optativas</h3>
  
  <div class = "field">
    <% @disciplines_op.each do |course_discipline| -%>
      <%= check_box_tag :course_discipline_id, course_discipline.id, @pre_enrollment.course_disciplines.include?(course_discipline), :name => 'pre_enrollment[course_discipline_ids][]' -%>
      <%= label_tag :course_discipline_ids, course_discipline.discipline.code + ' - ' + course_discipline.discipline.name -%>
      </br>
    <% end -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
