  <div data-sticky-container>
    <div id="header_sticky" data-sticky data-margin-top='0' data-top-anchor="header:bottom" class="sticky_custom">
      <div class="row">
        <div id=course_info class="row">
          <div class="small-12 columns text-center info-text">
            Cadastro Pré-Matrícula
            <div class="subtext"><%= @course.name %></div>
          </div>
        </div>
        
        <div class="row">
          <%= link_to "Voltar", pre_enrollments_path, :class=>"button export-button float-left" %>
          <div id="button_complete_record" class="button export-button float-right">Concluir</div>
        </div>
        
        <div class="row">
            <div class="columns medium-2 large-2">
              <label>Ano
              <% if pre_enrollment.year.present? %>
                <input id="semester_pre_enrollment" type="number" value="<%= pre_enrollment.year %>">
              <% else %>
                <input id="semester_pre_enrollment" type="number" value="<%= Semester.first.year %>">
              <% end %>
              </label>
            </div>
            <div class="columns small-1 large-1">
              <label>Período
                <% if pre_enrollment.period? %>
                <input id="period_pre_enrollment" type="number" value="<%= pre_enrollment.period %>" min="1" max="2">
                <% else %>
                <input id="period_pre_enrollment" type="number" value="<%= Semester.first.period %>" min="1" max="2">
                <% end %>
              </label>
            </div>
            <div class="columns small-2 large-2">
              <label>Data inicial Pré-Matrícula
                <% if pre_enrollment.start_date.present? %>
                <input id="date_start_pre_enrollment" type="date" value="<%= pre_enrollment.start_date.to_date %>">
                <% else %>
                <input id="date_start_pre_enrollment" type="date" value="<%=DateTime.now.to_date%>">
                <% end %>
              </label>
            </div>
            <div class="columns small-2 large-2 float-left">
              <label>Data final Pré-Matrícula
                <% if pre_enrollment.end_date.present? %>
                  <input id="date_end_pre_enrollment" type="date" value="<%= pre_enrollment.end_date.to_date %>">
                <% else %>
                  <input id="date_end_pre_enrollment" type="date">
                <% end %>
              </label>
            </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <div id="row_tabs" class="row staticsss">
    <ul id="blockTabs" class="tabs" data-tabs>
      <li id="discipline_ob" class="tabs-title is-active" aria-selected="true"><a href="#mandatory">Obrigatórias</a></li>
      <li id="discipline_op" class="tabs-title"><a href="#elective">Optativas</a></li>
    </ul>
  </div>

  <div class="row block tabs-content" data-tabs-content="blockTabs">
    <div id="mandatory" class="tabs-panel no-padding is-active">
      <div class="row">
        <input id ="check_fill_require" type="checkbox">
        <label for="check_fill_require">Marcar todas.</label>
      </div>
      
      <div class="row show-for-large">
        <div class="medium-1 columns text-center no-padding column-title">
          Semestre
        </div>
        <div class="medium-11 columns text-center column-title">
          Disciplinas
        </div>
      </div>

      <% unless @semesters.blank? %>
        <% width = 100.0 / @semesters.max_by{ |s| s ? s.size : 0 }.size %>
        <% @semesters[1..-1].each_with_index do |semester, i| %>
          <% if semester %>
            <div id="semester_row_number<%=i + 1%>" class="row semester-row">
              <div class="small-12 large-1 columns text-center no-padding semester">
                <span class="number"><%= i + 1 %><span class="hide-for-large">º Semestre</span></span>
              </div>

              <div class="small-12 large-11 columns">
                <% semester.each do |discipline| %>
                  <div id="<%= discipline.code %>" code="<%= discipline.code %>" click-source="curriculo" class="block-discipline discipline text-center" style="width: <%= width %>%;" >
                    <div class="text">
                      <div class="code"><%= discipline.code %></div>
                      <div class="name"><%= discipline.name %></div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div id="elective" class="tabs-panel no-padding">
      <div class="row">
        <input id ="check_fill_elective" type="checkbox">
        <label for="check_fill_elective">Marcar todas.</label>
      </div>
      
      <div class="search">
        <i class="icon-search"></i>
        <input id="electiveFilterInput" class="search-bar small-12 large-offset-1 large-10 columns" type="text" placeholder="Nome ou código da disciplina" />
      </div>

      <div class="small-12 columns no-padding">
        <ul class="block-list">
          <% @ops.each do |op| %>
            <li id="<%= op.code %>" code="<%= op.code %>" click-source="optativa" class="block-list-item list-item-discipline elective-discipline discipline"><%= "#{op.code} - #{op.name}" %></li>
          <% end %>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
        <span id="goToTop" class="go-to-top">▲ Topo</span>
      </div>
    </div>
  </div>
</div>


<% content_for :script do %>
<script>
  var pre_requisites       = <%= raw @pre  %>;
  var post_requisites      = <%= raw @post %>;
  var required             = <%= raw @obs %>;
  var elective             = <%= raw @ops.map{ |x| x.code } %>;
  var pre_enrollment       = <%= raw @pre_enrollment.to_json %>;
  var disciplines          = <%= raw @pre_enrollment_discipline.to_json %>;
  
  var selected_disciplines = [];
  
  if(disciplines.length > 0){
    disciplines.forEach(function(disc) {
     if(!selected_disciplines.includes(disc)){
        selected_disciplines.push(disc);
     }
    });
  }
  
  $("#check_fill_elective").click(function() {
    if ($('#check_fill_elective').is(":checked"))
    {
      fill_elective();
    }
    else{
      dont_fill_elective();
    }
  });
  
  fill_elective = function() {
     elective.forEach(function(disc) {
       if(!selected_disciplines.includes(disc)){
          selected_disciplines.push(disc);
          fill_selected(disc);
       }
     });
   }
   
   dont_fill_elective = function() {
     elective.forEach(function(disc) {
          if (selected_disciplines.includes(disc)) {
            delete_discipline_selected(disc);
            fill_selected(disc);
          }
     });
   }
  
  $("#check_fill_require").click(function() {
    if ($('#check_fill_require').is(":checked"))
    {
      fill_require();
    }
    else{
      dont_fill_require();
    }
  });
  
  fill_require = function() {
     required.forEach(function(disc) {
       if(!selected_disciplines.includes(disc)){
          selected_disciplines.push(disc);
          fill_selected(disc);
       }
     });
   }
   
   dont_fill_require = function() {
     required.forEach(function(disc) {
          if (selected_disciplines.includes(disc)) {
            delete_discipline_selected(disc);
            fill_selected(disc);
          }
     });
   }
  
  $("#goToTop").click(function() {
      $('html,body').animate({
          scrollTop: $("#header").offset().top
      }, 500);
  });
  
  $("#electiveFilterInput").on("input", function() {
      filterList("elective-discipline", $(this).val());
  });
  
  $("#button_complete_record").click(function() {
      var $toastContent;
      var message;
      var start_date = $('#date_start_pre_enrollment').val();
      var end_date = $('#date_end_pre_enrollment').val();
      var year = document.getElementById("semester_pre_enrollment").value;
      var period = document.getElementById("period_pre_enrollment").value;
      
      if (start_date === undefined || start_date == null || start_date.length <= 0){
        message = "Preencher data inicial.";
        $toastContent = $('<span>' + message + '</span>');
        toastr.error($toastContent)
      }
      else if (end_date === undefined || end_date == null || end_date.length <= 0){
        message = "Preencher data final.";
        $toastContent = $('<span>' + message + '</span>');
        toastr.error($toastContent)
      }
      else if (year === undefined || year == null || year.length <= 0){
        message = "Preencher ano do semestre.";
        $toastContent = $('<span>' + message + '</span>');
        toastr.error($toastContent)
      }
      else if (period === undefined || period == null || period.length <= 0){
        message = "Preencher período.";
        $toastContent = $('<span>' + message + '</span>');
        toastr.error($toastContent)
      }
      else if ((new Date(end_date)) < (new Date(start_date))){
        message = "Data final menor que a data inicial.";
        $toastContent = $('<span>' + message + '</span>');
        toastr.error($toastContent)
      }
      else if (selected_disciplines.length == 0){
        message = "Selecione pelo menos uma disciplina.";
        $toastContent = $('<span>' + message + '</span>');
        toastr.error($toastContent)
      }
      else{
        if(!pre_enrollment.id){
          $.ajax({
            url: "/pre_enrollments",
            type: "post",
             data: {
                pre_enrollment: {
                  disciplines_enrollment: selected_disciplines,
                  year: year,
                  period: period,
                  start_date: start_date,
                  end_date: end_date
                }
              }
          });  
        }
        else{
          $.ajax({
            url: "/pre_enrollments/" + pre_enrollment.id,
            type: "put",
            data: {
                pre_enrollment: {
                  disciplines_enrollment: selected_disciplines,
                  year: year,
                  period: period,
                  start_date: start_date,
                  end_date: end_date
                }
              }
          }); 
        }
      }
  });
  
  $("#searchForm").submit(function() {
    var pattern = $("#allinput").val();
    if (pattern.length == 0)
        $("#allinput").addClass("error");
    else {
        $("#allinput").removeClass("error");
        $("#allBlockList").empty();
        var query = $("#allinput").val();

        $.ajax({
                type: 'GET',
                url: '<%= discipline_ajax_search_path %>',
                data: {
                    pattern: query
                },
                dataType: 'html'
            })
            .done(function(html) {
                $("#allBlockList").html(html);
                updateDisciplineEvents("search-discipline", true);
            });
    }
    return false;
  });
  
  contains_discipline  = function(code) {
    var semester_discipline = paramSemesters.find(function(x) {
      if (x.disciplines.includes(code)) {
        return x;
      }
    });
    return semester_discipline;
  }
  
  delete_discipline_selected  = function(code) {
    var indexDiscipline = selected_disciplines.indexOf(code);
    if (indexDiscipline > -1) {
      selected_disciplines.splice(indexDiscipline, 1);
    }
  }
  
  fill_disciplines = function() {
    selected_disciplines.forEach(function(disc) {
        fill_selected(disc);
    });
  }

  fill_selected = function(code) {
    var $discipline = $("#" + code);
    if ($discipline) {
      if($discipline.is("li")) {
        !selected_disciplines.includes(code) ? $discipline.removeClass("highlight_discipline_op") : $discipline.addClass("highlight_discipline_op");  
      }
      else {
        !selected_disciplines.includes(code) ? $discipline.removeClass("highlight_discipline_ob") : $discipline.addClass("highlight_discipline_ob");
      }
    }
  }
  
  var delete_record_planning = function(class_name) {
      $("." + class_name).off('click').click(function(event) {
        var code = jQuery(this).attr('data-id');
        delete_record(code, "planning");
        table_planning_record(false);
        event.stopPropagation();
        event.preventDefault();
      });
  }
  
  var select_discipline = function(class_name) {
      $("." + class_name).off('click').click(function(event) {
          var code = $(this).attr('code');
          if (selected_disciplines.includes(code)) {
            delete_discipline_selected(code);
          }
          else {
            selected_disciplines.push(code);
          }
          fill_selected(code);
          event.stopPropagation();
          event.preventDefault();
      });
  }
  
  var changeBgColor = function(code, color_pre, color_post) {
      return function() {
          if (pre_requisites[code]) {
              pre_requisites[code].forEach(function(preReq) {
                  var $preReq = $("#" + preReq);
                  if ($preReq)
                    $preReq.css("background-color", color_pre);
              });
          }
          if (post_requisites[code]) {
              post_requisites[code].forEach(function(postReq) {
                  if (!selected_disciplines.includes(postReq)) {
                      var $postReq = $("#" + postReq);
                      if ($postReq)
                          $postReq.css("background-color", color_post);
                  }
              });
          }
      };
  }
  
  $(document).ready(function() {
      var spinner = new Spinner().spin();
      $("#loader").append(spinner.el)
  
      $(".block-discipline").each(function() {
          var code = $(this).attr("code");
          $(this).mouseenter(changeBgColor(code, "#F5C5C5", "#C5F5C5"));
          $(this).mouseleave(changeBgColor(code, "", ""));
      });
      
      select_discipline("discipline");
      
      fill_disciplines();
  });
</script>
<% end %>
