<div class="wrapper">
  <%= render 'shared/header' %>
  <div class="row area-grid text-center">
    <div class="row">
        <div class="small-12 columns text-center info-text">
            Pré-Matrículas
            <div class="subtext"> <%= @course %> </div>
        </div>
    </div>
<div data-turbolinks="false">
    <table id="largeTable" class="schedule-table large-table unstriped">
      <thead>
        <tr>
          <th width="80">Semestre</th>
          <th width="130">Data inicial Pré-Matrícula</th>
          <th width="130">Data final Pré-Matrícula</th>
          <th width="80"></th>
          <th width="80"></th>
          <th width="80"></th>
          <th width="80"></th>
        </tr>
      </thead>
      <tbody>
        <% @pre_enrollments.each do |pre_enrollment| %>
          <tr>
            <td><%= pre_enrollment.semester %></td>
            <td><%= pre_enrollment.date_start_format %></td>
            <td><%= pre_enrollment.date_end_format %></td>
            <td><%= link_to 'Editar', pre_enrollments_edit_path(pre_enrollment) %></td>
            <td><%= link_to 'Resultado', pre_enrollments_result_path(pre_enrollment.id) %></td>
            <td><%= link_to 'Apagar', pre_enrollment, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

    <div class="row">
      <span id="goToTop" class="go-to-top float-left">▲ Topo</span>
      <div data-turbolinks="false">
        <%= link_to 'Nova Pré-Matrícula', pre_enrollments_record_path, :class=>"button export-button float-right"  %>
      </div>
    </div>
    
  </div>
</div>
<%= render 'shared/footer' %>

<% content_for :script do %>
<script>
    $("#goToTop").click(function() {
          $('html,body').animate({
              scrollTop: $("#header").offset().top
          }, 500);
    });
</script>
<% end %>