<p id="notice"><%= notice %></p>

<p>
  <strong>Semestre:</strong>
  <%= @pre_enrollment.semester %>
</p>

<p>
  <strong>Data Inicial:</strong>
  <%= @pre_enrollment.date_start_format %>
</p>

<p>
  <strong>Data Final:</strong>
  <%= @pre_enrollment.date_end_format %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @pre_enrollment.course.name %>
</p>

<% @disciplines.each do |discipline| -%>
      <%= label_tag :course_discipline_ids, discipline.identifier-%>
      </br>
<% end -%>


<%= link_to 'Editar', edit_pre_enrollment_path(@pre_enrollment) %> |
<%= link_to 'Voltar', pre_enrollments_path %>
