<%= form_for(record_enrollment) do |f| %>
  <% if record_enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record_enrollment.errors.count, "error") %> prohibited this record_enrollment from being saved:</h2>

      <ul>
      <% record_enrollment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :pre_enrollment_id, :value => @pre_enrollment.id %>

  <h3>Obrigatórias</h3>
  <div class = "field">
    <% @disciplines_ob.each do |discipline| -%>
      <%= check_box_tag :disciplines_enrollment_id, discipline.id, @record_enrollment.disciplines_enrollments.include?(discipline), :name => 'record_enrollment[disciplines_enrollment_ids][]' -%>
      <%= label_tag :course_discipline_ids, discipline.identifier-%>
      </br>
    <% end -%>
  </div>
 
  
  <h3>Optativas</h3>
  
  <div class = "field">
    <% @disciplines_op.each do |discipline| -%>
      <%= check_box_tag :disciplines_enrollment_id, discipline.id, @record_enrollment.disciplines_enrollments.include?(discipline), :name => 'record_enrollment[disciplines_enrollment_ids][]' -%>
      <%= label_tag :course_discipline_ids, discipline.identifier-%>
      </br>
    <% end -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
