<p id="notice"><%= notice %></p>

<p>
  <strong>Pré-Matrícula:</strong>
  <%= @record_enrollment.pre_enrollment.semester %>
</p>

<% @disciplines.each do |discipline| -%>
      <%= label_tag :course_discipline_ids, discipline.identifier-%>
      </br>
<% end -%>


<%= link_to 'Editar', edit_record_enrollment_path(@record_enrollment) %> |
<%= link_to 'Voltar', record_enrollments_path %>
